body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#landing{
    position: relative;
    background-attachment: fixed;
    width: 100vw;
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("kelley (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    color: white;
    margin-bottom: 45px;
}

#pageTitle{
    font-weight: 700;
    font-size: 40px;
    overflow-wrap: break-word;
}

#searchBar{
    width: 45vw;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 0 2%;
}

#searchResults{
    position: absolute;
    left: 9.5vw;
    padding: 30px 0;
    color: #444444;
}

#filterContent{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-items: center;
    position: absolute;
    left: 9.5vw;
    min-width: 190px;
}

#refView{
    background-color: lightgrey;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    right: 0;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#refView:hover, #abstractView:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), #DC4405;
    border: 1px solid #DC4405;
    color: white;
}

#abstractView{
    background-color: lightgrey;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    left: 0;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#panels{
    margin: 0 auto;
    margin-top: 22vh;
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.panel{
    box-shadow: 10px 10px 15px lightgrey;
    border-top: 20px solid #DC4405;
}

.panelContent{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 20px;
    background: linear-gradient(to bottom, lightgrey, #fdfdfd);
}

.panDes, .pubDes, .abstract{
    font-size: 0.8em;
}

.panDes{
    display: none;
}

.panelExtras{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    color: white;
    font-size: 0.8em;
    align-items: center;
}

.iconText{
    display: flex;
    align-items: center;
}

.iconText i{
    font-size: 1.5em;
    margin-right: 8px;
}

.pubLink{
    color: white;
    text-decoration: none;
}

.pubLink:hover{
    text-decoration: underline;
}

#toggleView{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-items: center;
    position: absolute;
    right: 5vw;
    min-width: 225px;
}

#listView{
    background-color: lightgrey;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    right: 0;
}

#listView:hover, #panelView:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), lightgrey;
    color: white;
}

#panelView{
    background-color: lightgrey;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    left: 0;
}

.yearBlock{
    margin-left: 9vh;
    margin-top: 20vh;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: linear-gradient(to bottom, lightgrey, white);
    padding: 13px 30px 25px 35px;
    max-width: 84vw;
    box-shadow: 10px 10px 15px lightgrey;
}

.yearBlock a{
    color: #3582fc;
}

.hidden{
    display: none;
}

@media (max-width: 700px){
    .center{
        position: absolute;
        width: 90vw;
        justify-items: center;
        top: 50%;
        z-index: 1;
        padding: 0;
        margin: 0;
    }

    #searchBar{
        width: 80vw;
        height: 35px;
        border: 1px solid white;
        border-radius: 5px;
        outline: none;
        padding: 0 2%;
    }
}