<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Link</title>
    <link rel="icon" href="../images and icons/OSU.png">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <i class="material-icons" style="color: grey; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); font-size: 70px;">mood_bad</i>
    <h1 style="color: grey; font-weight: 500; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center;">This resource is currently unavailable.</h1>
</body>
</html>