body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    background-color: #242424;
    overflow-x: hidden;
}

#navBar{
    display: flex;
    background: transparent;
    position: fixed;
    padding: 20px;
    width: 100vw;
    height: 23px;
    z-index: 100000;
}

.navItem{
    display: inline-flex;
    padding: 10px;
}

.navItem a{
    color: white;
    text-decoration: none;
}

.navItem :hover{
    text-decoration: underline;
}

#navLeft{
    position: absolute;
    left: 1%
}

#navRight{
    position: absolute;
    right: 4%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: auto;
}

#landing{
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("../images and icons/Crop5Edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    color: white;
    margin-bottom: 45px;
}

#pageTitle{
    font-weight: 700;
    font-size: 40px;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

#searchBar{
    width: 38vw;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 0 2%;
}

#clearButton1, #searchButton1{
    font-weight: 700;
    font-size: 25px;
    width: 40px;
    height: 36px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    padding-top: 2px;
    margin: 0;
    position: relative;
    top: 5px;
}

#clearIcon, #searchIcon{
    max-width: 25px;
    position: relative;
    top: 2px;
}

#clearButton1:hover, #searchButton1:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), #DC4405;
}

#searchButton1:hover #searchIcon{
    filter: invert(1);
}

#searchBar2{
    display: none;
    width: 25vw;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    padding: 0 10%;
    background: #666666;
    position: absolute;
    left: 20vw;
    top: 8%;
    color: white;
}

#searchBar2::placeholder{
    color: #999999;
}


#ud{
    color: white;
    text-decoration: underline;
    text-decoration-color: #DC4405;
}

#ud:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), #DC4405;
    transition: 1s ease top;
    -webkit-transition: 1s ease top;
}

#xIcon{
    position: relative;
    bottom: 1px;
    width: 20px;
    padding-right: 10px;
}

#clearButton2{
    background-color: lightpink;
    border: 1px solid transparent;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-top: 3px;
    position: relative;
    left: 9.5%;
    top: 120px;
}

#clearButton2:hover{
    filter: invert(0.2);
}

#searchResults{
    display: none;
    position: absolute;
    left: 9.5vw;
    padding-top: 40px;
    color: #999999;
}

#noResults{
    display: none;
    font-weight: 500;
    color: grey;
    position: absolute;
    left: 9.5vw;
    bottom: -20%;
    z-index: 0;
}

#filterContent{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-items: center;
    position: absolute;
    left: 9.5vw;
    min-width: 190px;
}

.refAndAbstractLight{
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

#refView{
    display: inline-flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    right: 0;
    border-radius: 10px;
}

#abstractView{
    display: inline-flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

#refView:hover, #abstractView:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), #DC4405;
    border: 1px solid #DC4405;
    color: white;
    cursor: pointer;
}

.refAndAbstractDefault{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), #DC4405;
    border: 1px solid #DC4405;
    color: white;
}

#panels{
    margin: 0 auto;
    margin-top: 110px;
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(309px, 1fr));
    gap: 25px;
}

.panel{
    box-shadow: 11px 10px 12px rgba(0,0,0,0.25);
    border-top: 20px solid #DC4405;
    align-self: baseline;
    border-radius: 10px;
}

.panelContent a{
    color: #4286f4;
}

.panelContent{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 20px;
    /* background: linear-gradient(to bottom, lightgrey, #fdfdfd); */
    background: #424242;
    height: 350px;
    overflow-y: scroll;
    color: lightgrey;
    overflow-x: hidden;
}

.panDes, .pubDes, .abstract{
    font-size: 0.8em;
}

.panDes{
    display: none;
}

.panelExtras{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    font-size: 0.8em;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.iconText{
    display: flex;
    align-items: center;
}

.iconText i{
    font-size: 1.5em;
    margin-right: 8px;
}

.pubLink{
    color: white;
    text-decoration: none;
}

.pubLink:hover{
    text-decoration: underline;
}

#toggleView{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    align-items: center;
    position: absolute;
    right: 5vw;
    min-width: 225px;
}

#listView{
    background-color: lightgrey;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    right: 0;
}

#listView:hover, #panelView:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), lightgrey;
    color: white;
    cursor: pointer;
}

.panelAndListDefault{
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), lightgrey;
    color: white;
}

#panelView{
    background-color: lightgrey;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    left: 0;
}

#lists{
    display: none;
}

#ol{
    margin: 5vw;
    margin-top: 20vh;
    border: 1px solid lightgrey;
    overflow: hidden;
    border-radius: 5px;
    padding: 13px 30px 25px 35px;
    max-width: 84vw;
    background-color: #424242;
    color: lightgrey;
    z-index: 1;
}

#ol a{
    color: #3582fc;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background: #999999;
    border-radius: 10px;
    margin-top: 10px;
}

#credits{
    font-size: 10px;
    margin-top: 100px;
    background: #444444;
    padding: 3% 10%;
}

#creditLinks a{
    color: #4286f4;
    padding: 0 30px;
    overflow: break-word;
}

@media (max-width: 1150px){
    #pageTitle{
        font-size: 25px;
    }
}

@media (max-width: 720px){
    #clearButton2{
        background-color: lightpink;
        border: 1px solid transparent;
        border-radius: 10px;
        display: none;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        padding-top: 3px;
        position: relative;
        left: 9.5%;
        top: 190px;
    }
    #landing{
        background-attachment: scroll;
    }
    #navBar{
        padding-top: 5px;
        background: grey;
        font-size: 10px;
        overflow: hidden;
    }
    #navRight{
        position: absolute;
        right: 8%;
    }
    #pageTitle{
        font-size: 20px;
    }
    #searchBar2{
        visibility: hidden;
    }
    .center{
        position: absolute;
        width: 90vw;
        justify-items: center;
        top: 50%;
        z-index: 1;
        padding: 0;
        margin: 0;
    }
    #searchBar{
        width: 70vw;
        height: 35px;
        border: 1px solid white;
        border-radius: 5px;
        outline: none;
        padding: 0 2%;
    }
    #filterContent{
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        align-items: center;
        position: absolute;
        left: 9.5vw;
        margin-top: 50px;
        min-width: 190px;
    }
    #panels{
        max-width: 90vw;
        margin-top: 150px;
        overflow: hidden;
    }
    #searchResults{
        padding-top: 80px;
    }
    .panelContent{
        line-height: 1.5;
        font-size: 0.9em;
        padding: 20px;
        height: auto;
    }
    #toggleView{
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
        align-items: left;
        position: absolute;
        left: 9.5vw;
        max-width: 100px;
    }
    #noResults{
        bottom: -30%;
    }
}

@media (max-width: 343px){
    #panels{
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}